<!DOCTYPE html>
<html>
  <head>
    <title>Groupie Tracker</title>
    <meta charset="utf-8" />
    <link href="/static/style2.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="profileDiv">
      <form action="/openProfile" method="post">
        <button class="CoAsText">i</button>
      </form>
      {{if eq .IsSidePanelOpen true}}
      <div class="SidePanel">
        <div>Connected as {{.Username}}</div>
        <form action="/Settings" method="post">
          <button class="panelButton" id="settingsButton">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Settings
          </button>
        </form>
        <form action="/" method="post">
          <button class="panelButton">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Disconnect
          </button>
        </form>
      </div>
      {{end}}
    </div>
    <div class="GameButtonPanel">
      <form action="/BlindTest">
      <button class="GameButton" href="/BlindTest" id="GB1">BlindTest</button>
    </form>
    <form action="/DeafTest">
      <button class="GameButton" href="/DeafTest" id="GB2">DeafTest</button>
    </form>
  <form action="/ScatterGorries">
      <button class="GameButton" href="/ScatterGorries" id="GB3">Scattergories</button>
    </form>
    </div>
    <div class="roomTab">
      {{range $i := .RoomList}}
      <div class="room">
        <form action="/JoinRoom">
        <p class="roomName" id="R{{$i.GameMode.Id}}">{{$i.Name}}</br>{{$i.NumberOfPlayer}}/{{$i.MaxPlayer}}</br>{{$i.GameMode.Name}}
          <button class="JoinRoom" name="JoinButton" value={{$i.Id}}>Join</button>
        </p>
        </form>
      </div>
      {{end}}
    </div>
  </body>
</html>
