<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/log.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <h2>Login</h2>
        <form action="/log" method="post">
          <div class="user-box">
            <input type="text" name="username" required/>
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" id="password" required/>
            <label>Password</label>
            <span class="password-toggle-icon"><i class="fas fa-eye"></i></span>
          </div>
          <button>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </button>
        </form>
        <button>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            no account ?
        </button>
        {{if eq .Err "No user with this username found."}}
        <div class="errText">{{.Err}}</div>
        {{end}}
        {{if eq .Err "Incorrect password."}}
        <div class="errText2">{{.Err}}</div>
        {{end}}
      </div>
    </div>
    <script>
      const passwordField = document.getElementById("password");
      const togglePassword = document.querySelector(".password-toggle-icon i");

      togglePassword.addEventListener("click", function () {
        if (passwordField.type === "password") {
          passwordField.type = "text";
          togglePassword.classList.remove("fa-eye");
          togglePassword.classList.add("fa-eye-slash");
        } else {
          passwordField.type = "password";
          togglePassword.classList.remove("fa-eye-slash");
          togglePassword.classList.add("fa-eye");
        }
      });
    </script>
  </body>
</html>
