.titre {
  color: white;
  font-size: 500%;
  position: absolute;
}

:root {
  background-color: #7fffd4;
}

body {
  margin: 0;
}

header {
  background: rgb(175, 25, 25);
  height: 100px;
  font-size: 250%;
}

.CoAsText {
  width: 35px;
  height: 35px;
  transform: translate(1450px, 20px);
  border-radius: 50%;
}

