.titre {
  color: white;
  font-size: 500%;
  position: absolute;
}

:root {
  background-color: #7fffd4;
}

body {
  margin: 0;
}

header {
  background: rgb(175, 25, 25);
  height: 100px;
  font-size: 250%;
}

.CoAsText {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.profileDiv{
  display: flex;
  justify-content: flex-end;
  transform: translate(-2px, 2px);
}

